* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*Esto fue para quitar los ajustes basicos del navegador*/
}

body {
  background: #341f97;
  color: whitesmoke;
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%235e1900' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
/*Fondo de la pagina completa*/
/*Este link fue sacado de hero pattern */
font-size: 16px;
font-family: 'Teko', sans-serif; /*letra sacada de google fonts*/
}

a {
  color: whitesmoke;
  text-decoration: none;
  /*Color de las letrsa del nav*/
}

ul {
  list-style: none;
  /*Eliminar estilo de la nav (puntos)*/
}

.container {
  width: 90%;
  margin: auto;
  /*Altura y margen del contenedor (div)*/
}

/*Navegacion*/
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.nav-brand {
  width: 50px;
}

.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid whitesmoke;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}

.menu-boton {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 30px;
  display: none;
  z-index: 2;
  font-size: 1.5rem;
}

/*Escaparate o ShowCase*/

hr {
  margin: 10px 0;
}

.showcase {
  width: 100%;
  height: 550px;
  background: url('./img/showcase2.jpg') no-repeat center center/cover;
  /*Se ajusta la imagen con esas reglas para centrarla y que se vea completa*/
  padding: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /*Con esto se ajusto el texto hacia el centro*/
}

.boton{
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #222f3e;
  color: whitesmoke;
  font-size: 15px;
  border: 1px solid white;
  margin: 10px 0;
}

.boton:hover {
  opacity: .7;
}

.showcase h2, .showcase p {
  margin-bottom: 10px;
}

/*Cartas de Noticias*/
.news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 10px 0;
}

.news-cards img {
  width: 100%;
  height: 180px;
}

.news-cards h3 {
  font-size: 20px;
  margin: 10px 0;
}

.news-cards a {
  padding: 10px 0;
  color: whitesmoke;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

.news-cards a:hover {
  text-decoration: underline;
}

/*Banner de cartas de noticias uno*/
.cards-banner-one {
  width: 100%;
  height: 350px;
  background: url('./img/tech-red.jpg') no-repeat center center/cover;
  margin-bottom: 40px;
}

.cards-banner-one .content {
  width: 40%;
  padding: 90px 0 0 30px;
  color: whitesmoke;
}

.cards-banner-one p, .cards-banner-two p {
  padding: 10px 0 20px 0;
}

/*Banner de cartas de noticias dos*/
.cards-banner-two {
  width: 100%;
  height: 350px;
  background: url('./img/image-five.jpg') no-repeat center center/cover;
}

.cards-banner-two .content {
  width: 50%;
  padding: 100px 0 0 30px;
}

/*Siguenos*/
.social {
  margin: 50px;
}

.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a{
  margin: 0 30px;
}

.links a li {
  font-size: 3rem;
}

/*Links adicionales*/
.footer-links {
  background: #c23616;
  color: whitesmoke;
  font-size: 12px;
  padding: 35px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links {
  line-height: 2.8;
}

/*Pie de pagina*/
.footer {
  background: #c23616;
  color: whitesmoke;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

@media(max-width: 700px) {

  .menu-boton {
    display: block;
  }

  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #dfe6e9;
    height: 100%;
    padding: 30px;
    opacity: .9;
    transform: translateX(-400px);
    transition: transform .5s ease-in-out;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }

  .nav-main ul.nav-menu-right {
    margin-right: 40px;
  }

  .nav-main ul.nav-menu li {
    padding: 20px;
    font-size: 14px;
  }

  .news-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-banner-one .content, .cards-banner-two .content {
    width: 80%;
  }

  .footer-links .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media(max-width: 500px) {
  .news-cards {
    grid-template-columns: 1fr;
  }

  .news-cards img {
    height: 270px;
  }

  .cards-banner-one .content, .cards-banner-two .content {
    width: 100%;
    padding: 60px 20px;
  }

  .footer-links .footer-container {
    grid-template-columns: 1fr;
  }
}